* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: black;
}

canvas {
    border: 2px solid hsl(200, 0%, 50%)
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 2rem;
}

.boton {
    color: aliceblue;
    background-color: black;
    border: 2px solid;
    font-size: 1.2rem;
    padding: 0.2rem;
    width: 10rem;
}

.boton:hover {
    background-color: hsl(0, 0%, 20%);
}

.velocidad {
    color: aliceblue;
    background-color: black;
    border: 2px solid;
    font-size: 1.2rem;
    padding: 0.2rem;
    width: 2rem;
}

.velocidad:hover {
    background-color: hsl(0, 0%, 20%);
}